html body {
  min-width: 447px;
  height: 596px;
}

.text-detail {
  color: #aaa;
}

.top-buffer {
  margin-top: 20px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.text-horizontal-buffer {
  margin-right: 5px;
  margin-left: 5px;
}

.horizontal-divider {
  border-top: 1px solid;
  border-color: #ddd;
}

.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

/* http://jsfiddle.net/leoliaolei/L4zTu/1/ */

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
